<h1>POSTS</h1>

<ul>
  <% @posts.each do |post| %>
    <li><%= link_to post.title, post_path(post) %> | <%= post.created_at.to_s(:long) %></li>
  <% end %>
</ul>

<p><%= link_to 'NEW POST', new_post_path %></p>
