<h1>POSTS</h1>

<ul>
  <% @posts.each do |post| %>
    <li><%= link_to post.title, post_path(post) %></li>
  <% end %>
</ul>

<p><%= link_to 'NEW POST', new_post_path, id: "new_post", remote: :true %></p>
